.end
    background-color: #171717
    color: #BCBDBD
    
    &-inner 
        padding-top: 122px
        display: flex
        +media($md)
            padding-top: 20px
        
        &__logo
            margin-right: 198px
            +media($md)
                display: none

        a
            text-decoration: none
            color: #BCBDBD
            cursor: pointer

.end-inner__menu
    color: #fff
    font-size: 18px
    line-height: 24px

.end-inner__menu.product
    margin-right: 214px
    +media($md)
        margin-right: 100px
    +media($sm)
        margin-right: 20px

.end-inner__menu.company
    margin-right: 203px
    +media($md)
        margin-right: 100px
    +media($sm)
        margin-right: 20px

.menu-list__item:first-child
    padding-top: 7px

.menu-list__item
    font-size: 14px
    line-height: 22px
    padding-top: 8px

//-----------------------------------------

.end-inner__links 
    display: flex
    padding:  100px 0 130px 48px
    +media($sm)
        padding:  20px 0 20px 10px
    .end-links
        display: flex
        gap: 24px
        +media($sm)
            gap: 5px
        .end-link
            svg
                max-width: 16px
                max-height: 16px

    .end-biglinks
        display: flex
        padding-left: 192px
        +media($sm)
            padding-left: 10px
        .end-biglink
            svg
                max-width: 81px
                max-height: 24px
            img
                max-width: 81px
                max-height: 24px
                justify-content: center

.lot-of-text 
    display: flex
    flex-direction: column
    gap: 9px
    font-size: 12px
    line-height: 16px
    .big
        font-weight: bold