section.end 
    .container 
        .end-inner
            .end-inner__logo
                img.logo(src='../images/brex-logo.png')
            .end-inner__menu.product Product
                ul.end-inner__menu-list
                    li.menu-list__item
                        a(href='#').menu-list__item-link Overview
                    li.menu-list__item
                        a(href='#').menu-list__item-link Business account
                    li.menu-list__item
                        a(href='#').menu-list__item-link Credit card
                    li.menu-list__item
                        a(href='#').menu-list__item-link Rewards
                    li.menu-list__item
                        a(href='#').menu-list__item-link Financial modeling
                    li.menu-list__item
                        a(href='#').menu-list__item-link Expense tracking
                    li.menu-list__item
                        a(href='#').menu-list__item-link Spend management
                    li.menu-list__item
                        a(href='#').menu-list__item-link Bill pay
                    li.menu-list__item
                        a(href='#').menu-list__item-link Integrations
                    li.menu-list__item
                        a(href='#').menu-list__item-link Brex API
                    li.menu-list__item
                        a(href='#').menu-list__item-link Pro access
                    li.menu-list__item
                        a(href='#').menu-list__item-link Security

            .end-inner__menu.company Company
                ul.end-inner__menu-list
                    li.menu-list__item
                        a(href='#').menu-list__item-link About Brex
                    li.menu-list__item
                        a(href='#').menu-list__item-link Careers
                    li.menu-list__item
                        a(href='#').menu-list__item-link Contact
                    li.menu-list__item
                        a(href='#').menu-list__item-link Press
                    li.menu-list__item
                        a(href='#').menu-list__item-link Blog

            .end-inner__menu.company Resources
                ul.end-inner__menu-list
                    li.menu-list__item
                        a(href='#').menu-list__item-link Help
                    li.menu-list__item
                        a(href='#').menu-list__item-link Status
                    li.menu-list__item
                        a(href='#').menu-list__item-link Privacy
                    li.menu-list__item
                        a(href='#').menu-list__item-link Legal agreement
                    li.menu-list__item
                        a(href='#').menu-list__item-link Cookie preferences
        .end-inner__links 
            .end-links
                a.end-link.face(href="#")
                    svg
                        use(xlink:href='./images/sprite.svg#face')
                a.end-link.you(href="#")
                    svg
                        use(xlink:href='./images/sprite.svg#you')
                a.end-link.insta(href="#")
                    svg
                        use(xlink:href='./images/sprite.svg#insta')
                a.end-link.in(href="#")
                    svg
                        use(xlink:href='./images/sprite.svg#in')
                a.end-link.tvix(href="#")
                    svg
                        use(xlink:href='./images/sprite.svg#tvix')

            .end-biglinks
                a.end-biglink.appstore(href="#")
                    svg
                        use(xlink:href='./images/sprite.svg#appstore')
                a.end-biglink.googleplay(href="#")
                    img(src="../images/googleplay.avif", alt="")
        .lot-of-text 
            p ©2022 Brex Inc. (“Brex”) and the Brex logo are registered trademarks.
            p Brex Inc. provides the Brex Mastercard® Corporate Credit Card, issued by Emigrant Bank, Member FDIC or Fifth Third Bank, NA., Member FDIC. Use of Brex’s user data access application programming interfaces is subject to the Brex Access Agreement. Use of Brex Empower and other Brex products is subject to the Platform Agreement
            p Brex Treasury LLC (“Brex Treasury”) is an affiliate of Brex and a member of FINRA and SIPC that provides Brex Cash, an account that allows customers to sweep uninvested cash balances into certain money market mutual funds or FDIC-insured bank accounts at Brex’s partner banks, such as JPMorgan Chase Bank, Member FDIC. A list of partner banks is available at https://www.brex.com/legal 
            p Investing in securities products involves risk and you could lose money. Brex Treasury is not a bank nor an investment adviser and your Brex Cash account is not an FDIC-insured bank account.
            p *Your account earns yield on an annual basis. The figure shown here is an estimate of the annualized yield based on the average performance of the past seven days.* Yield is variable and fluctuates. Carefully consider a fund's investment objectives, risks, charges and expenses, as described in the applicable mutual fund’s prospectus. Contact us for a copy of the fund prospectus. Past performance does not guarantee future results, which may vary.
            p SIPC currently protects the assets in each of your securities accounts at Brex Treasury up to $500,000 (including $250,000 for claims for cash). Please see https://www.sipc.org/
            p This is not an offer, solicitation of an offer, recommendation or advice to buy or sell any security, financial product, instrument or to open a brokerage account in any jurisdiction where Brex Treasury is not registered. Review the background of Brex Treasury or its investment professionals on FINRA's BrokerCheck website . Please visit the for important legal disclosures.
            p Brex does not provide, nor does it guarantee, any third-party product, service, information, or recommendation and may pay third parties and/or be paid by them for customer referrals.
            p.big Services may be provided by Brex Payments LLC (NMLS #2035354).  