.moreInfo
    .moreInfo-title Brex for startups
    .moreInfo-text Fast access to global cards, business account (send ACH and wires), spend management, and bill pay.
    .moreInfo-link 
        a(href="#") Learn more ->