.moreInfo
    .moreInfo-title Brex for enterprise
    .moreInfo-text Easy-to-use corporate cards and spend management software in an integrated global solution.
    .moreInfo-link 
        a(href="#") Learn more ->