section.budget
    .container 
        .budget-first
            include ../../blocks_s/just-text/just-text2
            include ../../blocks_s/btns/btn-budget
        .budget-second
            .budget-img 
                img(src='../images/budgets.avif')