.customers-inner
    .customers-inner__img
        img(src="../images/customer1.avif", alt="customer1")
    .customers-inner__text Empire enables spend and drives accountability in Orangetheory studios with Brex Empower.
    a.customers-inner__link(href="#") Read case study ->