.customers-inner
    .customers-inner__img
        img(src="../images/customer2.avif", alt="customer2")
    .customers-inner__text Scale AI unblocks employee spend to ensure speed while boosting control and accountability.
    a.customers-inner__link(href="#") Read case study ->