.customers-inner
    .customers-inner__img
        img(src="../images/customer3.avif", alt="customer3")
    .customers-inner__text Avenue One drives automation and accuracy, saving 15 hours a month with Brex Empower and NetSuite.
    a.customers-inner__link(href="#") Read case study ->