section.spons 
    .container 
        .spons-list.autoplay
            .spons-list__item
                img(src="../images/spons1.avif", alt="sponsor")
            .spons-list__item
                img(src="../images/spons2.avif", alt="sponsor")
            .spons-list__item
                img(src="../images/spons3.avif", alt="sponsor")
            .spons-list__item
                img(src="../images/spons4.avif", alt="sponsor")
            .spons-list__item
                img(src="../images/spons5.avif", alt="sponsor")
            .spons-list__item
                img(src="../images/spons6.avif", alt="sponsor")
            .spons-list__item
                img(src="../images/spons7.avif", alt="sponsor")
            .spons-list__item
                img(src="../images/spons8.avif", alt="sponsor")