.just-text
    .just-text__first Flexible spend limits for any need.
    .just-text__second Enable spend for any purpose — from travel to stipends to procurements — at all levels of your company. All on one card. With controls built in. That's the magic of budgets.