section.customers
    .container 
        .customers-title How our customers use Brex to power their companies.
        .customers-box 
            include ../../blocks_s/customers-inner/customers-inner1
            include ../../blocks_s/customers-inner/customers-inner2
            include ../../blocks_s/customers-inner/customers-inner3 
        .customers-squares
            include ../../blocks_xs/customers-square/customers-square4
            include ../../blocks_xs/customers-square/customers-square5
            include ../../blocks_xs/customers-square/customers-square6
            include ../../blocks_xs/customers-square/customers-square7