.hero
    position: relative

    &-main 
        display: flex
        justify-content: space-between

        &__left
            &-title 
                padding-top: 76px
                padding-bottom: 23px
                max-width: 494px
                font-size: 40px


            &-btns
                display: flex
                gap: 8px
                padding-bottom: 63px
                .main-btn
                    width: 160px
                    height: 48px
                .account
                    border: solid 1px #0000001A
