section.hero
    .container
        .hero-inner
            include ../../blocks_s/hat/hat
            .hero-main 
                .hero-main__left
                    .hero-main__left-title Corporate cards and <br> spend  management <br> teams actually love.
                    .hero-main__left-btns
                        include ../../blocks_s/btns/btn-contact
                        include ../../blocks_s/btns/btn-account
                    .hero-main__left-moreInfo
                        include ../../blocks_s/moreInfo/moreInfo_1
                        include ../../blocks_s/moreInfo/moreInfo_2

                .hero-main__right
                    img(src="../images/hero.avif", alt="hero")
