.hat 
    .hat-inner
        .hat-inner__logo
            img.logo(src='../images/brex-logo.png')
        .menu 
            .hat-inner__item.hat-inner__solutions Solutions
                .triangle
                    svg
                        use(xlink:href='./images/sprite.svg#triangle')
            .hat-inner__item.hat-inner__products Products
                .triangle
                    svg
                        use(xlink:href='./images/sprite.svg#triangle')
            .hat-inner__item.hat-inner__why Why Brex?
            .hat-inner__item.hat-inner__emprower Empower
            .hat-inner__item.hat-inner__resources Resources
                .triangle
                    svg
                        use(xlink:href='./images/sprite.svg#triangle')
    .hat-btns 
        .hat-btns__account 
            include ../btns/btn-account
        .hat-btns__sign
            include ../btns/btn-sign
        .hat-btns__contact
            include ../btns/btn-contact