//main-btn
    
.main-btn
    border-radius: 10px
    background-color: #fff
    border: none
    cursor: pointer
    height: 36px

//contact   

.contact
    background-color: #F46A35
    color: #fff
    width: 148px

//btn-unfo

.btn-info
    border-radius: 10px
    font-size: 14px
    line-height: 22px
    padding: 13px 41px
    cursor: pointer
    background-color: transparent

.btn-info-black
    color: #fff
    border: 1px solid #fff

.btn-info-white
    color: #212121

//.btn-budget

.btn-budget
    border-radius: 10px
    font-size: 14px
    padding: 12px 21px 14px 
    cursor: pointer
    background-color: transparent

//spons-slider left-right

.spons-slider-btn
    width: 50px
    height: 20px
    font-size: 16px
    border: none
    cursor: pointer
    display: flex
    position: absolute
    top: 40%
    
.spons-slider-btns__left
    left: 20px

.spons-slider-btns__right
    right: 20px