include ../components/head 

body
    include ../blocks/hero/hero
    include ../blocks/spons/spons
    include ../blocks/solutions/solutions
    include ../blocks/budget/budget
    include ../blocks/spons-slider/spons-slider




    include ../components/footer    