section.spons-slider
    .container 
        .spons-slider-box.one-time
            include ../../blocks_s/spons-slider__items/spons-slider__item1
            include ../../blocks_s/spons-slider__items/spons-slider__item2
            include ../../blocks_s/spons-slider__items/spons-slider__item3
            include ../../blocks_s/spons-slider__items/spons-slider__item4
            include ../../blocks_s/spons-slider__items/spons-slider__item5
            include ../../blocks_s/spons-slider__items/spons-slider__item6
            include ../../blocks_s/spons-slider__items/spons-slider__item7
            include ../../blocks_s/spons-slider__items/spons-slider__item8
        .spons-slider-btns
            include ../../blocks_s/btns/btn-spons-slider__left
            include ../../blocks_s/btns/btn-spons-slider__right
            