.spons-slider__item
    .spons-slider__item-logo
        img(src="../images/spons6.avif", alt="sponsor")
    .spons-slider__item-title "DoorDash went from a 100-person startup to over 9,000 employees. We needed a solution that was innovative in the T&E space."
    .spons-slider__item-who — Mike Kim, VP of Finance, DoorDash