.rate
    .rate__left.rate-inner
        .rate__left-title.rate-title Brex for enterprise.
        .rate__left-text.rate-text Easy-to-use corporate cards and spend management software in an integrated global solution.
        .rate__left-btn
            button.btn-info.btn-info-black Learn more
        .rate__left-img
            img(src='../../images/mobila.avif')

    .rate__right.rate-inner
        .rate__right-title.rate-title Brex for startups.
        .rate__right-text.rate-text Fast access to global cards, business account (send ACH and wires), spend management, and bill pay.
        .rate__right-btn
            button.btn-info.btn-info-white Learn more
        .rate__right-img
            img(src='../../images/cards.avif')