section.cando 
    .container 
        .cando-inner
            .cando-inner-first
                .cando-inner-first__title See what Brex can do for you.
                .cando-inner-first__text Get in touch to learn how our spend solution can increase financial efficiency and speed for your company.
                .cando-inner-first__btns
                    include ../../blocks_s/btns/btn-contact
                    include ../../blocks_s/btns/btn-account
            .cando-inner-second
                img(src="../images/cando.avif", alt="cando")